body {
    font-family: 'Poppins', sans-serif;
    background-color:#fff;
    margin: 0;
    padding: 0;
    height: 100vh;
  
}
html {
    height: 100%;
}
.header {
    width: 100%;
    height: 100px;
    background-color:transparent;
    margin: 0 0;
    line-height:100px;
    color: #6b7280;
}

.banner-item ul {
    list-style-type:none;
    margin-top:-3px;
}
.banner-item ul li {
    display: inline;
    margin:25px 25px;
}
.middle-inline {
    display: inline;
}
.banner {
    margin-left:100px;
}

.column {
    float: left;
    
}
.active {
    color:#0058ff !important;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.banner-item-icon {
    display:none;
}
.main-content {
    margin-top:15%;
    margin-left:5%;
}
.nav-item {
    color:#6b7280;
}
.logo-image{
    height: 100px !important;
}
.main-content label {
    font-size: calc(16px + 3.3vw);
    font-weight:800;
}
.main-content p {
    color:#6b7280;
    max-width: 700px;
    width: 100%;
}
.blue {
    color:#0058ff;
}

.btn {
    padding: 20px 70px;
    border-radius: 5px;
    border: none;
    font-size:16px;
    box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
    margin-right:5px;
}
.btn--primary {
    background-color:#0058ff;
    color: #fff;
}
.btn-content-section{
    margin-top:1.5em;
}

.mid-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
.mid-column {
display: flex;
flex-direction: column;
flex-basis: 100%;
flex: 1;
}
.mobile{
    display:none;
}

.mobile-menu {
    background-color:#0058ff;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 15px 15px;
    width: 50px;
    top:4%;
    right:5%;
    position:fixed;
    z-index:999999;
}
.mobile-dropdown{
    display:none;
    height: 100px;
    background-color:#fff;

}

.mobile-navbar {
    list-style-type:none;
}
.mobile-nav-item {
    margin-top: 25px;
}

@media only screen and (max-width: 1400px) {
    .main-content p {
        max-width: 400px;
        width: 100%;
        transition: width 2s;
    }
    .btn {
        padding: 20px 30px;
        transition: padding 2s;
    }
    .right-background {
        background-size:cover!important;
    }
}
@media only screen and (max-width: 1100px) {
    
}
@media only screen and (max-width: 1100px) {
    .banner-item ul {
        display:none;
    }
    .banner {
        margin-left:5%;
        text-align:center !important;
    }
    .desktop {
        display:none !important;
    }
    .mobile {
        display:block !important;
    }
}

@media only screen and (max-width: 500px) {
    .main-content label {
        font-size: 35px !important;
    }
    .btn {
        padding: 20px 30px;
        transition: padding 2s;
    }
    
    .btn-content-section{
        margin-bottom:100px;
    }
}
@media only screen and (max-width: 1100px) {
    .desktop {
        display:none !important;
    }
    .mobile {
        display:block !important;
    }
}
@media only screen and (max-width: 1000px) {
    .btn {
        padding: 20px 30px;
        transition: padding 2s;
    }
    .main-content label {
        font-size: 50px !important;
    }
    .banner-item ul {
        display:none;
    }
    .banner {
        margin-left:-15% !important;

        text-align:center !important;
    }
    .right-background {
        height: 100vh !important;
        width: 100%!important;
        -webkit-clip-path: none !important;
                clip-path: none !important;
    }
    .main-content p {
        color:#6b7280;
        max-width: 400px;
        width: padding 2s;
        width: 100%;
    }
}

